<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <button @click="component = 'app-blue'" class="btn btn-primary">Load Blue Template</button>
                <button @click="component = 'app-green'" class="btn btn-success">Load Green Template</button>
                <button @click="component = 'app-red'" class="btn btn-danger">Load Red Template</button>
                <hr>
                <component :is='component'></component>
                <!-- <app-blue>
                    <h1>Blue content</h1>
                    <p slot='named'>Just to test named slots</p>
                </app-blue>
                <app-green>
                    <h1>Green content</h1>
                </app-green>
                <app-red>
                    <h1>Red content</h1>
                </app-red> -->
            </div>
        </div>
    </div>
</template>

<script>
    import Blue from './components/Blue.vue';
    import Green from './components/Green.vue';
    import Red from './components/Red.vue';

    export default {
        data() {
            return {
                component: 'app-blue'
            }
        },
        components: {
            appBlue: Blue,
            appGreen: Green,
            appRed: Red
        }
    }
</script>

<style>
</style>
