<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="text-center">
          <h1>The Super Quiz</h1>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="text-center">
          <transition enter-active-class="animated flipInY"
                      leave-active-class="animated flipOutY"
                      mode="out-in">
            <component :is="selectedComponent"
                      @correctSumClicked="selectedComponent = 'app-answer'"
                      @wrongSumClicked="wrongSumClicked($event)"
                      @nextQuestion="selectedComponent = 'app-question'"></component>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QuestionPanel from './QuestionPanel.vue';
import Answer from './Answer.vue';

export default {
  data () {
    return {
      selectedComponent: 'app-question'
    }
  },
  methods: {
    wrongSumClicked(sum) {
      alert(sum + ' is incorrect')
    }
  },
  components: {
    'app-question': QuestionPanel,
    'app-answer': Answer
  }
}
</script>

<style>

</style>
