<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">What's {{number1}} + {{number2}}</h3>
    </div>
    <div class="panel-body">
      <div v-for="sum in sums" class="col-xs-12 col-sm-6 text-center">
        <button class="btn btn-primary btn-lg" style="margin: 10px" @click="verifySum(sum)">{{sum}}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      number1: 0,
      number2: 0,
      sums: []
    }
  },
  methods: {
    verifySum(sum) {
      if (this.number1 + this.number2 === sum) {
        this.$emit('correctSumClicked', sum);
        this.populateQuestion();
      } else {
        this.$emit('wrongSumClicked', sum);
      }
    },
    populateQuestion() {
      for (let i = 0; i < 4; i++) {
        this.sums.push(Math.floor(Math.random() * Math.random() * 100) + Math.floor(Math.random() * Math.random() * 100))
      }

      this.number1 = Math.floor(Math.random() * Math.random() * 100);
      this.number2 = Math.floor(Math.random() * Math.random() * 100);

      this.sums[Math.floor(Math.random() * this.sums.length)] = this.number1 + this.number2;

    }
  },
  created() {
    this.populateQuestion();
  }
}
</script>

<style>

</style>
