<template>
    <ul class="nav nav-pills">
        <router-link to="/" tag="li" active-class="active" exact><a>Home</a></router-link>
        <router-link to="/user/1" tag="li" active-class="active"><a>User</a></router-link>
    </ul>
</template>

<script>
export default {

}
</script>

<style>

</style>
