<template>
    <div class="container">
        <app-progressbar :limit='limit'>
            <h1 slot='title'>Quotes Added</h1>
        </app-progressbar>
        <app-quotenew :limit='limit' :width='width'></app-quotenew>
        <app-quotelist></app-quotelist>
    </div>
</template>

<script>
    import QuoteList from './components/quote/QuoteList.vue';
    import QuoteNew from './components/quote/QuoteNew.vue';
    import ProgressBar from './components/shared/ProgressBar.vue'

    export default {
        data() {
            return {
                limit: 10,
                width: 500
            }
        },
        components: {
            'app-quotelist': QuoteList,
            'app-quotenew': QuoteNew,
            'app-progressbar': ProgressBar
        }
    }
</script>

<style>
</style>
