<template>
    <div>
        <slot></slot>
        <span>
            <slot name='named'></slot>
        </span>
    </div>
</template>

<script>

</script>

<style scoped>
    div {
        border: 1px solid blue;
        background-color: lightblue;
        padding: 30px;
        margin: 20px auto;
        text-align: center
    }
    span {
        text-decoration: underline;
    }
</style>