<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link to="/" class="navbar-brand">Stock Trader</router-link>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <router-link to="/" tag="li" class="nav-item"><a class="nav-link">Home</a></router-link>
        <router-link to="/portfolio" tag="li" class="nav-item"><a class="nav-link">Portfolio</a></router-link>
        <router-link to="/stocks" tag="li" activeClass="active" class="nav-item"><a class="nav-link">Stocks</a></router-link>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" @click="endDay">End Day</a>
          </li>
          <li class="nav-item dropdown" :class="{show: isDropdownOpen}" @click="isDropdownOpen = !isDropdownOpen">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" :aria-expanded="isDropdownOpen">
              Save & Load
            </a>
            <div class="dropdown-menu" :class="{show: isDropdownOpen}" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" @click="saveData">Save Data</a>
            <a class="dropdown-item" @click="loadData">Load Data</a>
          </div>
          </li>
          <li class="nav-item">
            <span class="nav-link">Funds: {{funds | currency}}</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
export default {
  data() {
    return {
      isDropdownOpen: false
    }
  },
  computed: {
    ...mapGetters([
      'funds',
      'stocks',
      'stockPortfolio'
    ])
  },
  methods: {
    ...mapActions({
      randomizeStocks: 'randomizeStocks',
      fetchData: 'loadData'
    }),
    endDay() {
      this.randomizeStocks();
    },
    saveData() {
      let data = {
        funds: this.funds,
        stockPortfolio: this.stockPortfolio,
        stocks: this.stocks
      }
      this.$http.put('data.json', data);
    },
    loadData() {
      console.log('Load Data')
      this.fetchData();
    },
    teste() {
      console.log('Teste')
    }
  }
}
</script>

<style scoped>
  nav {
    border: 1px solid #DDDDDD;
  }
  a {
    cursor: pointer;
  }
</style>
