<template>
    <div class="quoteContainer">
        <div class="quoteText">
            <slot></slot>
        </div>
    </div>
</template>

<script>
</script>

<style scoped>
    .quoteContainer {
        display: inline-block;
        margin: 10px;
        width: 250px;
        box-shadow: 1px 1px 3px #333;
        cursor: pointer;
    }
    .quoteText {
        padding: 10px;
        font-family: 'Arizonia';
        font-size: 24px;
        color: #6e6e6e;
    }
    .quoteText:hover {
        background-color: #FFE2E2;
    }
</style>
