<template>
    <div>
        <app-quote v-for='(quote, index) in quotes' 
                   :message='quote.message' 
                   @click.native="removeQuote(index)">
                   {{quote.message}}
        </app-quote>
        <div class='alert alert-info info'>
            Info: Click on a Quote to delete it
        </div>
    </div>    
    
</template>

<script>
import Quote from './Quote.vue';
import { eventBus } from '../../main';

export default {
    data() {
        return {
            quotes: []
        }
    },
    components: {
        'app-quote': Quote
    },
    methods: {
        removeQuote(index) {
            this.quotes.splice(index, 1);
            eventBus.removeQuote();
        }
    },
    created() {
        eventBus.$on('quoteAdded', (quote) => {
            this.quotes.push({'message': quote})
        })
    }
}
</script>

<style>
    .info {
        margin-top: 20px;
        text-align: center;
    }
</style>
