<template>
    <div class="new-quote-panel" :style="{width: width + 'px'}">
        <h3>Quote</h3>
        <textarea rows="5" v-model="quote" :style="{width: width + 'px'}"></textarea>
        <div class="new-quote-button">
            <button class="btn btn-primary" @click="addQuote">Add Quote</button>
        </div>
    </div>
    
</template>

<script>
import {eventBus} from '../../main'

export default {
    data() {
        return {
            quote: '',
            counter: 0
        }
    },
    props: {
        limit: {
            type: Number,
            required: true
        },
        width: {
            type: Number,
            required: true,
        }
    },
    methods: {
        addQuote() {
            if (this.counter >= 10) {
                return alert('Please delete Quotes first!');
            }
            if (!this.quote) {
                return alert('Quote should not be empty!');
            }
            eventBus.addQuote(this.quote);
            this.quote = '';
            this.counter = eventBus.totalQuotes;
        }
    },
    created() {
        eventBus.$on('quoteRemoved', () => {
            this.counter = eventBus.totalQuotes;
        })
    }
}
</script>

<style scoped>
    .new-quote-panel {
        margin: 0 auto 20px auto;
    }
    .new-quote-button {
        margin-top: 10px;
        text-align: center;
    }
</style>
