<template>
  <div>
     <app-stock class="stock-grid" v-for="item in stockPortfolio" :buying="false" :stock="item"></app-stock>
  </div>

</template>

<script>
import Stock from '../stock/Stock.vue'
import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters([
      'stockPortfolio'
    ])
  },
  components: {
    appStock: Stock
  }
}
</script>

<style scoped>
  .stock-grid {
    display: inline-block;
    width: 31%;
    margin: 10px 10px;
  }
</style>
