<template>
    <div>
        <slot name='title'></slot>
        <div class="bar-background">
            <span class="bar-content"
                  :style="{width: (progress/limit) * 100 + '%'}">
                  <span v-if="progress != 0">{{progress}} / {{limit}}</span>
            </span>
        </div>
    </div>
</template>

<script>
import {eventBus} from '../../main';

export default {
    data() {
        return {
            progress: 0
        }
    },
    props: {
        limit: {
            type: Number,
            required: true
        }
    },
    created() {
        eventBus.$on('quoteAdded', () => {
            this.progress = eventBus.totalQuotes;
        })
        eventBus.$on('quoteRemoved', () => {
            this.progress = eventBus.totalQuotes;
        })
    }
}
</script>

<style scoped>
    .bar-background, .bar-content {
        border-radius: 5px;
        height: 20px;
    }

    .bar-background {
        margin: 20px auto;
        box-shadow: 1px 1px 2px #BBB inset;
        background-color: #F0F0F0;
        
    }
    .bar-content {
        display: inline-block;
        background-color: #007791;
        color: #FFF;
        text-align: center;
        transition: width ease 500ms;
    }

    .bar-content span {
        font-size: 12px;
    }
</style>
