<template>
    <div class="component">
        <h3>You may edit the User here</h3>
        <p>Edit me!</p>
        <p>User age: {{age}}</p>
        <button @click="editAge">Edit age</button>
    </div>
</template>

<script>
    import { eventBus } from '../main';

    export default {
        props: {
            age: {
                type: Number
            }
        },
        methods: {
            editAge() {
                this.age = 31;
                //this.$emit('ageChanged', this.age);
                //eventBus.$emit('ageChanged', this.age);
                eventBus.changeAge(this.age)
            }
        }
    }
</script>

<style scoped>
    div {
        background-color: lightgreen;
    }
</style>
