<template>
    <div class="component">
        <h3>You may view the User Details here</h3>
        <p>Many Details</p>
        <p>User name: {{switchName()}}</p>
        <p>User age: {{age}}</p>
        <button @click="resetName">Reset the name</button>
        <button @click="resetFn()">Reset the name</button>
    </div>
</template>

<script>
    import { eventBus } from '../main';
    export default {
        props: {   
            name: {
                type: String,
                required: true
            },
            age: {
                type: Number,
                required: true
            },
            resetFn: Function
            //object: {
                //type: Object,
                //default: function() {
                    //return {
                        //name: 'Felipe'
                    //}
                //}
            //}
        },
        methods: {
            switchName() {
                return this.name.split("").reverse().join("");
            },
            resetName() {
                this.name = 'Felipe';
                this.$emit('nameWasReset', this.name);
            }
        },
        created() {
            eventBus.$on('ageChanged', (age) => {
                this.age = age;
            })    
        }
    }
</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>
