<template>
  <div>
    <div class="card text-center">
      <div class="card-header">
          {{stock.name}}
          <span v-if="!buying"> - Quantity: {{stock.quantity}}</span>
          <small>(Price: {{stock.value}})</small>
      </div>
      <div class="card-body">
        <div class="card-title">
          <input class="form-control card-text" type="number" placeholder="Quantity" v-model="quantity">
        </div>
        <button class="btn btn-success"
                v-if="buying"
                @click="buyStock"
                style="float: right"
                :disabled="disabledBuyingButton">Buy</button>
        <button class="btn btn-success"
                v-else
                @click="sellStock"
                style="float: right"
                :disabled="disabledSellingButton">Sell</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      quantity: null
    }
  },
  props: {
    buying: {
      type: Boolean,
      required: true
    },
    stock: {
      required: true
    }
  },
  computed: {
    ...mapGetters([
      'funds'
    ]),
    disabledBuyingButton() {
      return this.quantity <= 0 || Number(this.quantity * this.stock.value) > Number(this.funds);
    },
    disabledSellingButton() {
      return this.quantity <= 0 || Number(this.quantity) > Number(this.stock.quantity);
    }
  },
  methods: {
    ...mapActions([
      'buyStocks',
      'sellStocks'
    ]),
    buyStock() {
      if (Number(this.stock.value * this.quantity) > Number(this.funds)) {
        alert("You don't have enough funds!");
      } else {
        this.buyStocks({
          name: this.stock.name,
          value: this.stock.value,
          quantity: Number(this.quantity)
        });
      }
      this.quantity = null;
    },
    sellStock() {
      this.sellStocks({
        name: this.stock.name,
        quantity: Number(this.quantity),
        value: this.stock.value
      });
      this.quantity = null;
    }
  }
}
</script>

<style>
.card-title {
  display: inline-block;
  width: 60%;
}

button {
  display: inline-block;
}
</style>
