<template>
  <div>
    <app-stock class="stock-grid" v-for="stock in stocks" :buying="true" :stock="stock"></app-stock>
  </div>

</template>

<script>
import Stock from './Stock.vue'
import { mapGetters, mapActions } from 'vuex';
export default {
  computed: {
    ...mapGetters([
      'stocks'
    ])
  },
  methods: {
    ...mapActions([
      'initStocks'
    ])
  },
  components: {
    appStock: Stock
  },
  created() {
    this.initStocks();
  }
}
</script>

<style scoped>
  .stock-grid {
    display: inline-block;
    width: 31%;
    margin: 10px 10px;
  }
</style>
