<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1 v-local-on:mouseover="alertClick">Directives Exercise</h1>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        directives: {
            'local-on': {
                bind(el, binding, vnode) {
                    if (binding.arg) {
                        el.addEventListener(binding.arg, binding.value)
                    }
                }
            }
        },
        methods: {
            alertClick() {
                return alert('The directive worked');
            }
        }
    }
</script>

<style>
</style>
