<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Animations</h1>
                <div class="alert alert-info" draggable="true" @dragstart="dragstart($event)">This is some Info!</div>
                <hr>
                <select v-model="animation" class="form-control">
                    <option value="fade">Fade</option>
                    <option value="slide">Slide</option>
                </select>
                <br>
                <button class="btn btn-primary" @click="show = !show">Show Alert</button>
                <br><br>
                <transition :name="animation">
                    <div class="alert alert-info" v-if="show">This is some Info!</div>
                </transition>
                <transition name="slide">
                    <div class="alert alert-info" v-if="show">This is some Info!</div>
                </transition>
                
                <transition 
                        appear
                        enter-active-class="animated bounce"
                        leave-active-class="animated shake">
                    <div class="alert alert-info" v-if="show">This is some Info!</div>
                </transition>
                <transition :name="animation" mode="out-in">
                    <div class="alert alert-info" v-if="show" key="info">This is some Info!</div>
                    <div class="alert alert-warning" v-else key="warning">This is some Warning!</div>
                </transition>
                <hr>
                <button class="btn btn-primary" @click="load = !load">Load / Remove Element</button>
                <br><br>
                <transition
                        @before-enter="beforeEnter"
                        @enter="enter"
                        @after-enter="afterEnter"
                        @enter-cancelled="enterCancelled"
                        
                        @before-leave="beforeLeave"
                        @leave="leave"
                        @after-leave="afterLeave"
                        @leave-cancelled="leaveCancelled"
                        :css="false">
                    <div style="width: 300px; height: 100px; background-color: lightgreen" v-if="load"></div>
                </transition>
                <hr>
                <button class="btn btn-primary" 
                        @click="selectedComponent == 'app-success-alert' ? selectedComponent = 'app-danger-alert' 
                                : selectedComponent = 'app-success-alert'">
                    Toggle components</button>
                <br><br>
                <transition name="fade" mode="out-in">
                    <component :is="selectedComponent"></component>
                </transition>
                <hr>
                <button class="btn btn-primary" @click="addItem">Add Item</button>
                <br>
                <br>
                <ul class="list-group">
                    <transition-group name="slide">
                        <li v-for="(number, index) in numbers" 
                            class="list-group-item" 
                            @click="removeItem(index)"
                            style="cursor: pointer"
                            :key="number">
                            {{number}}</li>
                    </transition-group>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import DangerAlert from './DangerAlert.vue'
    import SuccessAlert from './SuccessAlert.vue'

    export default {
        data() {
            return {
                show: false,
                load: true,
                animation: 'fade',
                elementWidth: 100,
                selectedComponent: 'app-success-alert',
                numbers: [1,2,3,4,5]
            }
        }, 
        methods: {
            beforeEnter(el) {
                console.log('beforeEnter');
                this.elementWidth = 100;
                el.style.width = this.elementWidth + 'px';
            },
            enter(el, done) {
                console.log('enter');
                let round = 1;
                const interval = setInterval(() => {
                    el.style.width = (this.elementWidth + round * 10) + 'px';
                    round++;
                    if (round > 20) {
                        clearInterval(interval);
                        done();
                    }
                }, 20)
            },
            afterEnter(el) {
                console.log('afterEnter');
            },
            enterCancelled(el) {
                console.log('cancelledEnter');
            },
            beforeLeave(el) {
                console.log('beforeLeave');
                this.elementWidth = 300;
                el.style.width = this.elementWidth + 'px';
            },
            leave(el, done) {
                console.log('leave');
                let round = 1;
                const interval = setInterval(() => {
                    el.style.width = (this.elementWidth - round * 10) + 'px';
                    round++;
                    if (round > 20) {
                        clearInterval(interval);
                        done();
                    }
                }, 20)
            },
            afterLeave(el) {
                console.log('afterLeave');
            },
            leaveCancelled(el) {
                console.log('leaveCancelled');
            },
            dragstart(event) {
                console.log(event);
            },
            addItem() {
                const pos = Math.floor(Math.random() * this.numbers.length);
                this.numbers.splice(pos, 0, this.numbers.length + 1);
            },
            removeItem(index) {
                this.numbers.splice(index, 1);
            }
        },
        components: {
            'app-danger-alert': DangerAlert,
            'app-success-alert': SuccessAlert
        }
    }
</script>

<style>
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    transition: opacity 1000ms;
}
.fade-leave {

}
.fade-leave-active {
    transition: opacity 1000ms;
    opacity: 0;
}

.slide-enter {
    
}

.slide-enter-active {
    animation: slide-in 1s ease-out forwards;
}

.slide-leave {

}

.slide-leave-active {
    animation: slide-out 1s ease-out forwards;
    position: absolute;
}

/* Transition-group only */
.slide-move {
    transition: transform 1s;
}

@keyframes slide-in {
    from {
        transform: translateY(20px);
        opacity: 0
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
        opacity: 0;
    }
}

</style>
