<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="exercise">
    <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
        <p>VueJS is pretty cool - {{name}} ({{age}})</p>
        <!-- 2) Output your age, multiplied by 3 -->
        <p>{{ multiplyByThree(age) }}</p>
        <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
        <p>{{ randomFloat() }}</p>
        <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
        <div>
            <img v-bind:src="img" style="width:100px;height:100px">
        </div>
        <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
        <div>
            <input type="text" v-bind:value="name">
        </div>
    </div>
    <script>
        new Vue({
            el: '#exercise',
            data: {
                name: 'Felipe',
                age: 30,
                img: "https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?cs=srgb&dl=beach-exotic-holiday-248797.jpg&fm=jpg"
            },
            methods: {
                multiplyByThree: function(age) {
                    return age*3;
                },
                randomFloat: function() {
                    return Math.random();
                }
            }
        })
    </script>
</body>
</html>


