<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ExerciseList</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
      <button @click="show = !show">Toggle</button>
      <p v-if="show">You either see me ...</p>
      <p v-else>...or me</p>
      <p v-show="show">You either see me ...</p>
      <p v-show="!show">...or me</p>
    </div>
    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
      <li v-for="(sport, index) in sports">({{index}}) {{sport}}</li>
    </ul>
    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
      <li v-for="(v, k, i) in lotr"><div>{{i}} - {{k}}: {{v}}</div></li>
    </ul>
    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <ul>
      <li v-for="value in obj">
        <ul v-if="value instanceof Array">
          <li v-for="data in value">
            {{data}}
          </li>
        </ul>
        <span v-else>{{value}}</span>
      </li>
    </ul>
  </div>
  <script>
    new Vue({
      el: '#exercise',
      data: {
        show: true,
        sports: ['football', 'tennis', 'volleyball', 'basketball'],
        lotr: {
          title: 'Lord of the Rings', 
          author: 'J.R.R. Tolkiens', 
          books: '3'
        },
        obj: {
          name: 'TESTOBJECT', 
          data: [1.67, 1.33, 0.98, 2.21]
        }
      }
    })
  </script>
</body>
</html>



