#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
  transition: width ease-out 500ms
}

.shrink {
  background-color: gray;
  width: 50px !important;
  transition: width ease-out 500ms
}

.square {
  width: 100px;
  height: 100px;
  background-color: cyan;
}

.rectangle {
  width: 100px;
  height: 50px;
  background-color: green;
}

.border {
  box-shadow: 1px 1px 3px #333333;
  border-radius: 10px;
}

.progressBar {
  background-color: blue;
  height: 20px;
  transition: width ease-out 500ms
}