<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise 2</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="exercise">
        <!-- 1) Show an alert when the Button gets clicked -->
        <div>
            <button v-on:click="showAlert">Show Alert</button>
        </div>
        <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
        <div>
            <input v-on:keydown="storeValue" type="text">
            <p>{{ value }}</p>
        </div>
        <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
        <div>
            <input v-on:keydown.enter="storeValue" type="text">
            <p>{{ value }}</p>
        </div>
    </div>
    <script>
        new Vue({
            el: '#exercise',
            data: {
                value: ''
            },
            methods: {
                showAlert: function() {
                    alert('Showing alert');
                },
                storeValue: function(event) {
                    this.value = event.target.value;
                }
            }
        })
    </script>    
</body>
</html>


