<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Module 1/2 - File 2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <p>Counter: {{counter}}</p>
        <p>Result: {{result()}} | {{output}}</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                counter: 0
            },
            computed: {
                output: function() {
                    return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
                }
            },
            watch: {
                counter: function(value) {
                    var vm = this;
                    setTimeout(function() {
                        vm.counter = 0;
                    }, 2000)
                }
            },
            methods: {
                result: function() {
                    return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5'; 
                }
            }
        })
    </script>
</body>
</html>