<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Module 1/2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-once>{{title}}</h1>
        <input v-model="title" type="text">
        <input @input="changeTitle" type="text">
        <p>
            {{title}} - <a :href="link">Google</a>
        </p>
        <p v-html="finishedLink"></p>
        <button @click="increase">Click here</button>
        <button @click="counter++">Click here</button>
        <p>{{counter}}</p>
        <p @mousemove="showCoordinates">
            Coordinates: {{x}} / {{y}} - <span @mousemove.stop="">Dead spot</span></p>
        <input type="text" @keyup.enter="alertMe">
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Hello World!',
                link: 'https://google.com',
                finishedLink: '<a href="https://google.com">Google</a>',
                counter: 0,
                x: 0,
                y: 0
            },
            methods: {
                changeTitle: function(event) {
                    this.title = event.target.value;
                },
                increase: function() {
                    this.counter++;
                },
                showCoordinates: function(event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
                alertMe: function() {
                    alert('Alert');
                }
            }
        });
    </script>
</body>
</html>