<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ing, i) in ingredients">{{ing}} ({{i}})</li>
        </ul>
        <button @click="ingredients.push('fish')">Add New</button>
        <template v-for="(ing, i) in ingredients">
            <h1>{{ing}}</h1>
            <p>Index: {{i}}</p>
        </template>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{index}}. {{key}}: {{value}}</div>
            </li>
        </ul>

        <hr>

    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'Max', age: 27, color: 'red'},
                    {name: 'Anna', age: 'unknown', color: 'blue'}
                ]
            },
            methods: {

            }
        })
    </script>
</body>
</html>