<template>
    <div class="col-xs-12 col-sm-6">
        <template v-if="emptyMessage">
            <p>{{emptyMessage}}</p>
        </template>
        <template v-else>
            <div>
                Server #{{id}}
            </div>
            <div>Status: {{status}}</div>
        </template>
    </div>
</template>

<script>
import { eventBus } from '../../main'

export default {
    data() {
        return {
            id: 0,
            status: '',
            emptyMessage: 'Server Details are currently not updated'
        }
    },
    created() {
        eventBus.$on('serverClicked', (server) => {
            this.id = server.id;
            this.status = server.status;
            this.emptyMessage = '';
        });
        eventBus.$on('statusChanged', (data) => {
            if (this.id === data.id) {
                this.status = data.status
            }
        })
    }
}
</script>

<style>

</style>
