<template>
    <div style="width: 100%">
        <span @click="showServerDetails" class="pointer">Server #{{id}}</span>
        <span class="btn-right">
            <button v-if="status === 'Normal'" @click="turnUpUsage">Turn Up Usage</button>
            <button v-else @click="turnDownUsage">Turn Down Usage</button>
        </span>
    </div>
</template>

<script>
import {eventBus} from '../../main';

export default {
    data() {
        return  {
            status: 'Normal'
        }
    },
    props: {
        id: {
            type: Number,
            required: true
        }
    },
    methods: {
        turnUpUsage() {
            this.status = 'Critical'
            eventBus.captureStatusChange(this.id, this.status);
        },
        turnDownUsage() {
            this.status = 'Normal'
            eventBus.captureStatusChange(this.id, this.status);
        },
        showServerDetails() {
            eventBus.showServerDetails({id: this.id, status: this.status});
        }
    
    }
}
</script>

<style scoped>
    .pointer {
        cursor: pointer;
    }
    .btn-right {
        float: right;
    }
</style>
