<template>
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group">
            <li class="list-group-item" v-for="index in 5"><app-server :id="index"></app-server></li>
        </ul>
    </div>
</template>

<script>
import Server from './Server.vue'
export default {
    components: {
        'app-server': Server
    }
}
</script>

<style>

</style>
