<template>
    <div>
        <h1>The User Page</h1>
        <button @click="navigateToHome" class="btn btn-primary">Navigate Home</button>
        <hr>
        <router-view></router-view>
    </div>
    

</template>

<script>
export default {
    data() {
        return {
            id: this.$route.params.id
        }
    },
    watch: {
        '$route'(to, from) {
            if (to.params.id != from.params.id) {
                this.id = to.params.id;
            }
        } 
    },
    methods: {
        navigateToHome() {
            this.$router.push({name: 'home'});
        }
    }
}
</script>
