<template>
    <div>
        <div class='form-group'>
            <label for="firstname">First Name</label>
            <input  
                    type="text"
                    id="firstname"
                    class="form-control"
                    :value="firstName"
                    @input="changeName(true, $event)">
        </div>
        <div class='form-group'>
            <label for="lastname">Last Name</label>
            <input  
                    type="text"
                    id="lastname"
                    class="form-control"
                    :value="lastName"
                    @input="changeName(false, $event)">
        </div>
    </div>
</template>

<script>
export default {
    props: ['value'],
    methods: {
        changeName(isFirstName, event) {
            let name = '';
            if (isFirstName) {
                this.$emit('input', event.target.value + ' ' + this.lastName);
            } else {
                this.$emit('input', this.firstName + ' ' + event.target.value);
            }
        }
    },
    computed: {
        firstName() {
            return this.value.split(" ")[0];
        },
        lastName() {
            return this.value.split(" ")[1];
        }
    }
}
</script>

<style>

</style>
